<body>
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col">
				<app-navbar [isSearched]="isSearched" [tickerValue]="tickerValue"></app-navbar>
			</div>
		</div>
		<div class="row rorow">
			<div class="col">
				<router-outlet></router-outlet>
				<br>
			</div>
		</div>
		
	</div>
</body>
<footer>
	<div class="row">
		<div class="col myfooter footer fixed-bottom position-sticky" >
			Powered by <a target="_blank" href="https://www.finnhub.io/" style="text-decoration:none;">Finnhub.io</a>
		</div>
	</div>
</footer>